*{
    margin:0;
    padding:0;
    transition: all .35s ease-in-out;
}
.bg-navbars{
    background-color: rgba(108, 169, 226, 0.258);
}
nav{
    display: flex;
    align-items: self-end;
    flex-wrap: wrap;
}
nav h1{
    color: rgb(59, 42, 74);
}

ul{ display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    width: 70%;
    list-style: none;
    flex-wrap: wrap;
}

.d_box{
    background: #cfcfd221 !important;
    color: white !important;
}


